%h1 devChic.com
%h2 Create developer styles for the tech-catwalk.

%div.row
  %div.columns.large-3
    %div.controls
      %div.form.invisible
        = form_tag do
          = text_field_tag 'name'
          = label_tag 'Name'
          = text_field_tag 'Chictype'
          = label_tag 'Chictype'
          = text_field_tag 'Language'
          = label_tag 'Coding Language'
          = submit_tag 'Create New Developer', :id => 'create_developer', :class => 'button radius tiny'
  %div.columns.large-9