%h1 devChic.com
%h2 Create developer styles for the tech-catwalk.

%div.row
  %div.columns.large-3
    %div.controls
      %div.form.invisible
        = form_tag do
          = text_field_tag 'name'
          = label_tag 'name'
          = text_field_tag 'chictype'
          = label_tag 'Chictype'
          = text_field_tag 'language'
          = label_tag 'Coding Language'
          = submit_tag 'Create New Developer', :id => 'create_dev', :class => 'button radius tiny'
          =submit_tag 'Edit Developer', :id => 'edit_dev', :class => 'button radius tiny'
  %div.columns.large-9